.blogs {
  font-family: var(--font-poppins), sans-serif;
}

.blogs h1,
.blogs .seo_intro_block,
.blogs .seo_intro_text {
  text-align: left;
  width: 100%;
  max-width: none;
}

.blogs .seo_intro_block {
  max-width: none !important;
}

.blogs .card_div {
  display: grid;
  justify-content: center;
  gap: 25px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1200px) {
  .blogs .card_div {
    gap: 15px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 991px) {
  .blogs .card_div {
    gap: 15px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .blogs .card_div {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}


/* category filters */
.category-slider {
  position: relative;
  width: 100%;
}

.category-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE & Edge */
  white-space: nowrap;
}

.category-container::-webkit-scrollbar {
  display: none;
}

.category-btn {
  flex: 0 0 auto;
  min-width: fit-content;
  text-align: center;
  border-radius: 3px;
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #212529 !important;
}

.arrow-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 10px;
  color: #333;
}

.blogs .category-btn.btn_outline_primary {
  background-color: #e2e2e2 !important;
  border: 1px solid #e2e2e2 !important;
  color: #212529 !important;
}

.blogs .category-btn.btn_primary {
  background-color: var(--red-color, #b50000) !important;
  border: 1px solid var(--red-color, #b50000) !important;
  color: #ffffff !important;
}
