.hero_section {
  width: 100%;
  height: calc(100vh - 10px);
  color: white;
  position: relative;
  font-family: var(--font-poppins), sans-serif;
}

.hero_bg_img {
  position: absolute !important;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  object-position: center 30%;
  z-index: -2;
}

.hero_overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.hero_section h1.hero_heading {
  color: white;
  font-weight: 800;
  font-size: 38px;
  line-height: 60px;
}

.section_margin {
  margin-top: 185px;
}

html[lang="ur"] .hero_section h1.hero_heading,
html[lang="ur"] .hero_section p {
  text-align: center !important;
}

.hero_section p {
  font-size: 20px;
}

.error_class {
  position: absolute;
  top: -22px;
  font-size: 14px;
}

.hero_section .dropdown {
  background-color: white !important;
  height: 55px;
  width: 317px;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none !important;
  border: none !important;
  border-radius: unset;
}

.hero_section .dropdown input {
  font-size: 17px;
  font-weight: 500;
  text-wrap: auto;
}

.dropdown_parent .icon_div {
  background-color: white;
  padding: 0 20px;
  height: 55px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_parent .icon_div .location_icon {
  height: 30px;
  width: 30px;
  color: black;
  cursor: pointer;
}

.services_dropdown .dropdown-menu {
  top: 100% !important;
  bottom: auto !important;
  transform: none !important;
}

.services_dropdown input:focus {
  box-shadow: none;
  cursor: text;
}

.services_dropdown input {
  cursor: pointer;
}


.padding_2 {
  padding: 7px 32px;
}

.btn-success {
  color: var(--dark-gray) !important;
}

.selected_black {
  color: black !important;
}

.dropdown.language {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: 1px solid var(--dark-gray) !important;
}

.services_dropdown {
  border-top-left-radius: 0 !important;
}

.category {
  border-right: 2px solid var(--dark-gray);
}

.category {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.list_menu {
  height: 256px;
  border-radius: 0px;
  overflow-y: scroll;
}

.dropdown.cities {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.dropdown.services {
  border-right: 1px solid var(--dark-gray);
}

.dropdown.services {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.dropdown .dropdown-menu {
  width: 100%;
}

.dropdown .dropdown-menu a.dropdown-item {
  margin-bottom: 10px;
  border-bottom: 1px solid var(--dark-gray);
  text-wrap: auto;
}

.dropdown-toggle:after {
  vertical-align: 0.25em;
  content: "";
  border: 0.3em solid #0000;
  color: black;
  border-top-color: currentColor;
  border-bottom: 0;
  margin-left: 0.255em;
  display: inline-block;
  border-width: 0.4em;
  margin-top: 0.25em;
  margin-right: 5px;
}

.hero_section .search_btn {
  height: 55px;
  width: 83px;
  background-color: var(--red-color);
  outline: none;
  border: none;
}

.hero_section .search_icon {
  font-size: 32px;
  color: white;
}

@media screen and (max-width: 768px) {
  .hero_section h1.hero_heading {
    font-size: 36px;
    line-height: 60px;
  }

  .hero_section .search_btn {
    max-width: 100%;
  }

  .hero_section .search_icon {
    font-size: 28px;
  }

  .hero_section .dropdown {
    max-width: 200px;
  }
}

@media screen and (max-width: 576px) {
  .section_margin {
    margin-top: 30px;
  }

  .hero_section {
    width: 100%;
    height: calc(100vh - 50px);
  }

  .hero_section p {
    font-size: 18px;
    text-align: center;
  }

  .hero_section h1.hero_heading {
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }

  .hero_section .dropdown_parent {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5px;
    margin-top: 20px;
  }

  .dropdown_parent .services_dropdown,
  .dropdown_parent .services_dropdown {
    width: 100% !important;
    max-width: 100% !important;
  }

  .dropdown .dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
  }

  .hero_section .search_btn {
    width: 100% !important;
    border-radius: 6px;
    background-color: var(--red-color);
  }

  .hero_section .search_icon {
    font-size: 26px;
    color: #fff;
  }

  .error_class {
    position: static;
    margin-top: 0px;
    margin-bottom: -5px;
    font-size: 13px;
    text-align: center;
  }

  .category {
    border-right: none;
  }

  .list_menu {
    height: 170px;
  }
}