.sign_up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black !important;
}
.sign_up .input_auth {
  width: 100%;
  margin-bottom: 14px;
}
.auth_heading {
  font-size: 32px;
}
.logo_div{
  width: 230px !important;
  height: auto;
  text-align: left;
}

 .logo_div img{
  width: 100%;
  height: 40px;
}

.sign_up form {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 25px;
}
.sign_up .input_one_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.sign_up .input_one_row div {
  width: 50% !important;
}

.sign_up form .increase_w {
  width: 100%;
}
.sign_up .bg_white {
  background-color: white;
  border-radius: 22px;
  z-index: 99;
  position: relative;
  text-align: center;
  width: 50%;
  max-width: 942px;
  padding: 30px 0 !important;
}
.sign_up .input_auth {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 11px;
}
.sign_up .checkbox_field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: black;
}
.sign_up .checkbox_field label {
  font-size: 14px;
}
span.terms {
  color: var(--red-color);
}
.sign_up .sign_in {
  margin: 20px;
  padding: 1px 30px;
  width: auto;
}
.sign_up .margin_bottom {
  margin-bottom: 0.5rem;
}
.sign_up p.register_comp {
  cursor: pointer;
  color: var(--red-color);
}

@media screen and (max-width: 992px) {
  .sign_up form {
    width: 60%;
  }
  .hide_logo{
    display: none;
  }
  .term p{
    margin: 0px !important;
  }
  .sign_up .margin_bottom {
    margin-bottom: 1rem !important;
  }
  .auth_heading {
    font-size: 32px;
  }
  button.sign_in {
    height: 43px;
  }
  .sign_up .input_auth {
    height: 43px;
  }
  .checkbox_field label {
    font-size: 15px;
  }
}

@media screen and (max-width: 576px) {
  .sign_up form {
    width: 100%;
  }
  .sign_up .bg_white {
    width: 95%;
  }
  .sign_up .input_one_row {
  flex-direction: column;
  gap: 0px;
}
.sign_up .input_one_row div {
  width: 100% !important;
}
}
@media screen and (max-width: 470px) {
  .checkbox_field label {
    font-size: 12px;
  }
}
